.back{
    font-family: 'Changa One', cursive;
    font-size: 1.1rem;
 }
 
 .forth{
    color: #F0E6AA;
    font-family: 'Saira Stencil One', cursive;
    font-size: 1.1rem;
    font-weight: lighter;
 }
 
 .lay{
     position: relative;
     width: 100%;
     height: auto;
     padding: 1.5rem 0;
     background: linear-gradient(to bottom right,rgba(171, 7, 18, 0.6) 0%, rgba(220, 9, 23, 0.3) 30%, rgba(220, 9, 23, 0.3) 70%, rgba(171, 7, 18, 0.6) 100%), url("../assets/backo.jpg");
     background-attachment: fixed;
     background-position: center;
     background-size: cover;
 }
 
 .lay .d-flex{
    margin-bottom: -20px;
 }