.elemento{
    color: rgba(249, 235, 235, 0.8);
    font-style: italic;
  }
  
.fa-shipping-fast{
  color: #f9ebeb;
}

.little{
  margin-left: 3%;
}

.little .fa-paper-plane{
  font-size: 3.2rem;
}

  .altro{
    color: #2a0909;
    font-style: italic;
  }
  
  .forma{
    width: 98%;
    background-color: rgba(251, 157, 163, 0.1);
  }
  
  .primo{
    width: 355px;
    height: 240px;
    position: absolute;
    right: 103%;
    top: 20%;
  }
  
  .secondon{
    display: none;
  }