.elemento{
    color: red;
  }
  
.little{
  margin-left: 3%;
}

  .altro{
    color: black;
  }
  
  .forma{
    width: 98%;
    background-color: rgba(120, 125, 205, 0.5);
  }
  
  .primo{
    width: 325px;
    height: 250px;
    position: absolute;
    right: 100%;
    top: 20%;
  }
  
  .secondon{
    display: none;
  }