.dis{
    margin-top: 5%;
  }
  
    .gallery {
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
      grid-gap: 1rem;
      max-width: 110rem;
      margin: 3rem auto;
    }
    .gallery-panel img {
      width: 100%;
      height: 22vw;
      object-fit: cover;
      border-radius: 3% 0 0 0;
      border-left: 3px groove pink;
      border-bottom: 4px outset #C80815;
      border-right: 4px outset #c80815;
    }
  
  .gallery-title{
    font-family: 'Fugaz One', cursive;
    font-size: 5vw; 
    font-weight: bold;
    border-bottom: 3px outset #C80815;
    border-left: 10px inset #C80815;
  }

  .gallery-sub{
    font-family: 'Mirza', cursive;
    font-size: 2.5vw; 
    border-bottom: 8px outset #C80815;
    border-right: 5px outset #C80815;
    margin-left: 0.9rem;
  }

  .gallery-sub .fa-pencil-ruler{
    font-size: 2vw;
  }

  /* text effect with simple class */
  .home-title .for{
    margin-top: 3%;
    margin-left: -1%;
    background-color: rgba(251, 157, 163, 0.3);
    width: 88%;
    line-height: 1.25;
    padding: 0.3rem 1rem;
    position: relative;
    overflow: hidden;
    display: block;
  }
  
  .home-title .sec{
    background-color: rgba(251, 157, 163, 0.2);
    width: 88%;
    padding-top: -0.2rem;
    padding-left: 0.6em;
    padding-bottom: 0.2em;
    position: relative;
    overflow: hidden;
    display: block;
    line-height: 1.2;
  }
  
  .home-title span::after{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 100%;
      height: 95%;
      background: white;
      animation: a-ltr-after 2s cubic-bezier(.77,0,.18,1) forwards;
      transform: translateX(-101%);
  }
  
  .home-title span::before{
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 80%;
      height: 100%;
      background: gray;
      animation: a-ltr-before 2s cubic-bezier(.77,0,.18,1) forwards;
      transform: translateX(0);
  }
  
  .home-title span:nth-of-type(1)::before,
  .home-title span:nth-of-type(1)::after{
      animation-delay: 1s;
  }
  
  .home-title span:nth-of-type(2)::before,
  .home-title span:nth-of-type(2)::after{
      animation-delay: 1.5s;
  }
  
  @keyframes a-ltr-after{
      0% {transform: translateX(-100%)}
      80% {transform: translateX(101%)}
  }
  
  @keyframes a-ltr-before{
      0% {transform: translateX(0)}
      100% {transform: translateX(200%)}
  }
  
.appetizer{
  font-family: 'Saira', sans-serif;
  font-size: 1.3rem;
  font-weight: bold;
}