.lightbox-info-inner .title{
    font-family: 'Geo', sans-serif; 
    font-size: 2.5rem; 
    line-height: 1;
    font-weight: bold;
  }
  
  .lightbox .spe{
    color: white;
    margin-left: -0.1rem;
  }
  
  .lightbox {
      position: relative;
      padding: 2%;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.4);
      display: grid;
      grid-template-columns: 5fr 3fr;
      grid-column-gap: 6%;
    }
    .lightbox img {
      margin: auto;
      width: 100%;
      grid-column-start: 1;
    }
    .lightbox-info {
      margin: auto;
    }
    .lightbox-info-inner {
      background-color: #FFFFFF;
      display: inline-block;
      padding: 1.5rem;
    }